<!DOCTYPE>
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bill Form</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<h1>Bill Form</h1>
		<p>This is Bill Form page</p>
		<a href="{{url_for('home_page')}}">Back to Home</a>

		<form action="/result" method="POST">
			{{bill_form.amount.label}} {{bill_form.amount}}
			<br>
			{{bill_form.period.label}} {{bill_form.period}}
			<hr>
			
			<p>First mate</p>
			{{bill_form.name1.label}} {{bill_form.name1}}
			{{bill_form.days1.label}} {{bill_form.days1}}

			<p>Second mate</p>
			{{bill_form.name2.label}} {{bill_form.name2}}
			{{bill_form.days2.label}} {{bill_form.days2}}
			<br>

			{{bill_form.button}}
		</form>
	</body>
</html>
